.wrapper {
    width: 224px;
    padding: 20px 0 26px 8px;
    margin-left: -18px;
    overflow-y: auto;
    height: 100vh;
}

.wrapper::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.footer-sidebar {
    padding: 8px;
}

.footer-sidebar_title {
    & + .footer-sidebar_title {
        margin-top: 15px;
    }
    a {
        color: #8a8b91;
        font-size: 15px;
    }
}

.footer-sidebar_copyright {
    margin: 5px 6px 0 0;
    font-size: 12px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
}
